.slideLeft-enter {
  transform: translateX(-100%);
}
.slideLeft-enter-active {
  transform: translateX(0);
  transition: all 500ms linear;
}
.slideLeft-exit {
  transform: translateX(0);
}
.slideLeft-exit-active {
  transform: translateX(100%);
  transition: all 500ms linear;
}
