.enter {
  opacity: 0;
  transform: translateX(-100%);
}
.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms linear;
}
.exit {
  transform: translateX(0);
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 300ms linear;
}
