.list {
  display: flex;
  padding: 20px;

  &_item {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .list_link {
    text-decoration: none;
    color: #ffffff;
  }

  .list_activeLink {
    color: #adf5f5;
    // text-decoration: underline;
  }
}
